<h3 class="generic-header"><%= @user.username %>'s Followers</h3>

<div class="center-it">

  <% @followers.each do |follower| %>
    <% if follower.avatar != nil %>
      <%= image_tag(follower.avatar, class: "avatar-style") %>
    <% end %>
    <%= link_to follower.username, show_user_path(follower.username) %>
  <% end %>

</div>
