/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.body {
   font-family: Helvetica Neue;
   font-size: 12px;
 }

.form-h3 {
  font-weight: bold;
 }

.login-page {
  background-color: #f5f5f5;
}
.form-link a{
  color: #64686d;
  font-weight: bold;
}

.form-link a:hover{
  color: #aeb3ba;
  text-decoration: none;
  font-weight: bold;
}

.login-panel-shadow {
  box-shadow: 1px 1px 2px #aeb3ba;
  margin-top: 100px;
}

.signup-panel-shadow {
  box-shadow: 1px 1px 2px #aeb3ba;
  margin-top: 30px;
}

.login-items {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.short-hr {
  width: 50%;
}

.link-to-login {
  color: white;
  background-color: #64686d;
  border-color: #64686d;
  width: 50%;
}

.link-to-login:hover {
  color: white;
  background-color: #6b6d70;
  border-color: #64686d;
}

.panel-pad {
  padding-bottom: 20px;
}

.update-form {
  width: 50%;
  margin-top: 50px;
}

.tiny-text {
  font-size: 9px;
}

.update-button {
  width: 25%;
  margin-left: 45px;
}

.cancel-button {
  width: 25%;
  float: right;
  margin-right: 45px;
}

.logo {
  font-family: 'Mr Dafoe', cursive;
  color: #d9534f;
}

.less-padding {
  padding-top: 6px;
  padding-bottom: 8px;
}

.avatar-style {
  margin-top: 20px;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  float: right;
}

.profile-h1 {
  float: left;
  color: #6b6d70;
}

.wrench-style {
  font-size: 30px;
  color: #c3c5c9;
  float:left;
  margin-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.hover-circle:hover {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  background-color: #edeff2;
}

.profile {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
}

.profile-info {
  padding-top: 50px;
}

.num-follow {
  color: #6b6d70;
  font-weight: bold;
}

.follow {
  color: #c3c5c9;
  font-weight: bold;
}

.follow:hover {
  text-decoration: none;
  color: #cdcfd3;
}

.drop-pad {
  margin-top: 50px;
}

.profile-link {
  float: left;
  color: #c3c5c9;
  font-weight: bold;
  font-size: 1.25em;
}

.profile-link:hover {
  text-decoration: none;
  color: #cdcfd3;
}

.left-pad {
  padding-left: 50px;
}

.grid {
  margin: 0 auto;
}

.grid-item {
  float: left;
  margin-bottom: 30px;
  margin-right: 20px;
  margin: 5px;
  border-radius: 5px;
  opacity: .9;

}

.grid-item img {
  border-radius: 5px;
  display: block;
  max-width: 100%;
  float: left;
  margin-bottom: 20px;
}

.pin-link {
  position: absolute;
  bottom: 30px;
  left: 10px;
  color: white;
  font-size: .8em;
  background-color: black;
  opacity: 0.5;
  padding-left: 6px;
  padding-right: 6px;
}

.pin-link:hover {
  opacity: 1;
  color: white;
  text-decoration: none;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 260px;
}

.hover-button {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 1;
}

.grid-item:hover {
  opacity: 1;
}

.grid img{
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.pin-show {
  padding-top: 50px;
}
.pin-show-image {
  border-radius: 10px;
}

.pin-show img{
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.button-pin {
  position: relative;
  bottom: 50px;
  right: 0px;
  opacity: 1;
}

.pin-pad {
  margin-top: -10px;
}
