/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.body {
   font-family: Helvetica Neue;
   font-size: 12px;
 }

.form-h3 {
  font-weight: bold;
 }

.login-page {
  background-color: #f5f5f5;
}
.form-link a{
  color: #64686d;
  font-weight: bold;
}

.form-link a:hover{
  color: #aeb3ba;
  text-decoration: none;
  font-weight: bold;
}

.login-panel-shadow {
  box-shadow: 1px 1px 2px #aeb3ba;
  margin-top: 100px;
}

.signup-panel-shadow {
  box-shadow: 1px 1px 2px #aeb3ba;
  margin-top: 50px;
}

.login-items {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.short-hr {
  width: 50%;
}

.link-to-login {
  color: white;
  background-color: #64686d;
  border-color: #64686d;
  width: 50%;
}

.link-to-login:hover {
  color: white;
  background-color: #6b6d70;
  border-color: #64686d;
}

.panel-pad {
  padding-bottom: 20px;
}
